<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright The WildFly Authors
    SPDX-License-Identifier: Apache-2.0

-->

<module xmlns="urn:jboss:module:1.9" name="io.grpc-all">
    <properties>
        <property name="jboss.api" value="private" />
    </properties>

    <resources>
        <artifact name="${io.grpc:grpc-api}" />
        <artifact name="${io.grpc:grpc-context}" />
        <artifact name="${io.grpc:grpc-protobuf}" />
        <artifact name="${io.grpc:grpc-okhttp}" />
        <artifact name="${io.grpc:grpc-core}" />
        <artifact name="${io.grpc:grpc-protobuf-lite}" />
        <artifact name="${io.grpc:grpc-stub}" />
        <artifact name="${io.grpc:grpc-util}" />
    </resources>

    <dependencies>
        <module name="com.google.code.gson" />
        <module name="com.google.protobuf" export="true" />
        <module name="com.squareup.okhttp3" />
        <module name="com.google.guava" />
        <module name="java.logging" />
    </dependencies>
</module>
